<!DOCTYPE html>
<html>
<head>
  <title>Sandbox</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body ID="<%= params[:controller].parameterize %>_controller">

<div class="body">
	<div class="navbar">  
		<div class="navbar-inner">  
		    <div class="container">  
		        <ul class="nav">  
		            <a class="brand" href="#"><%= current_user.email %></a>  
		            <li class="active"><a href="#">Home</a></li>  
		            <li><a href="#">Blog</a></li>  
	  
		            <li class="dropdown" id="accountmenu">  
		                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tutorials<b class="caret"></b></a>  
		                <ul class="dropdown-menu">  
		                    <li><a href="#">PHP</a></li>  
		                    <li><a href="#">MySQL</a></li>  
		                    <li class="divider"></li>  
		                    <li><a href="#">JavaScript</a></li>  
		                    <li><a href="#">HTML5</a></li>  
		                </ul>  
		            </li>  
		        </ul>  
		    </div>  
		</div>  



					<section>
						<%= yield %>
					</section>

</div>

</html>
