<!DOCTYPE html>
<html>
<head>
  <title>Sandbox</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body ID="<%= params[:controller].parameterize %>_controller">

<content>
<header-menu>

  <ul>  
    <li><a href="#"><%= current_user.email %></a></li>
    <li><%= link_to "Home", root_url %></li>
    <li><%= link_to "Add Task", newcase_url %></li>
  </ul>  

</header-menu>


 <main-screen>
  <%= yield %>
 </main-screen>
</content>





</body>
</html>
